li {
  display: inline;
  list-style-type: none;
}

img {
  max-width: 145px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.panel-body-background-blue {
  background: #dbe7f1;
}

.panel-body-background-gray {
  	background: #F8F8F8
}
