<h1>{{announcer}}</h1>

<app-opponent [deck]="deck" [topCard]="topCard" [isOpponentsTurn]="isOpponentsTurn" (opponentDone)="opponentDone($event)" (opponentWon)="opponentWon($event)">
  [Loading Opponent's Hand]
</app-opponent>

<ul>
  <li>
    <img src="./assets/large/{{topCard.file}}" />
  </li>
  <li>
    <img (click)="drawPlayerCard()" src="./assets/large/Card_Back_Alt.png" />
  </li>
</ul>


<app-player [deck]="deck" [topCard]="topCard" [isOpponentsTurn]="isOpponentsTurn" (playerDone)="playerDone($event)" (playerWon)="playerWon($event)">
  [Loading Player's Hand]
</app-player>
