<h1 class="center">{{announcer}}</h1>

<app-opponent class="center" [deck]="deck" [topCard]="topCard" [isOpponentsTurn]="isOpponentsTurn" (opponentDone)="opponentDone($event, isTurn)">
  [Loading Opponent's Hand]
</app-opponent>

<app-pile class="center" [topCard]="topCard" [pileSize]="pile.length">
  [Loading Pile]
</app-pile>

<app-player class="center" [deck]="deck" [topCard]="topCard" [isOpponentsTurn]="isOpponentsTurn" (playerDone)="playerDone($event)">
  [Loading Player's Hand]
</app-player>
