li {
  display: inline;
  list-style-type: none;
}

img {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 768px) {
  img { max-width: 120px; }
}

@media (min-width: 769px) {
  img { max-width: 145px; }
}

.horizontal-scrollbar {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

.panel-background-blue {
  background: #F0F7FF;
}

.panel-background-red {
  background: #FFF5F5;
}

.pile-background-color-red {
  background: #EC9791;
}

.pile-background-color-yellow {
  background: #F4F3B8;
}

.pile-background-color-green {
  background: #96EC91;
}

.pile-background-color-blue {
  background: #91B3EC;
}
