li {
  display: inline;
  list-style-type: none;
}

img {
  max-width: 145px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.panel-background-blue-gray {
  background: #688FC1;
}

.panel-background-blue {
  background: #F0F7FF;
}

.panel-background-red {
  background: #FFF5F5;
}
