/* You can add global styles to this file, and also import other style files */

.horizontal-scrollbar {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

/*
THE ANIMATION STYLES BELOW WERE BORROWED FROM:
http://alt-web.com/TUTORIALS/?id=bootstrap_simple_image_zoom
*/

/**gallery margins**/
ul.gallery{
margin-left: 3vw;
margin-right:3vw;
}

.zoom {
-webkit-transition: all 0.15s ease-in-out;
-moz-transition: all 0.15s ease-in-out;
transition: all 0.15s ease-in-out;
}

.zoom:hover,
.zoom:active,
.zoom:focus {
/**adjust scale to desired size,
add browser prefixes**/
-ms-transform: scale(1.2);
-moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
transform: scale(1.2);
position:relative;
z-index:100;
}

/**To keep upscaled images visible on mobile,
increase left & right margins a bit**/
@media only screen and (max-width: 768px) {
ul.gallery {
margin-left: 15vw;
margin-right: 15vw;
}

/**TIP: Easy escape for touch screens,
give gallery's parent container a cursor: pointer.**/
.DivName {cursor: pointer}
}
