/* You can add global styles to this file, and also import other style files */
.center {
  text-align: center;
}

#hand li {
  display: inline;
  list-style-type: none;
  padding: 5px 5px 5px 5px;
}
